@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?et8zke');
  src:  url('fonts/icomoon.eot?et8zke#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?et8zke') format('truetype'),
    url('fonts/icomoon.woff?et8zke') format('woff'),
    url('fonts/icomoon.svg?et8zke#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
